modules = ["rust-stable"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
ORIGIN = "http://127.0.0.1:8089"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cargo build --release"]
run = ["sh", "-c", "target/release/Public-Article"]
